USE [C:\INFO\GITHUB\PROIECTATESTAT\BIN\DEBUG\TESTDATABASE.MDF]
GO
/****** Object:  Table [dbo].[materials]    Script Date: 4/22/2026 3:23:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[materials](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NOT NULL,
	[type] [varchar](100) NOT NULL,
	[density_kg_m3] [decimal](8, 3) NOT NULL,
	[YoungModulus_GPa] [decimal](12, 2) NOT NULL,
	[notes] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[testResults]    Script Date: 4/22/2026 3:23:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[testResults](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[time_s] [int] NOT NULL,
	[force_N] [decimal](10, 2) NOT NULL,
	[strain] [decimal](10, 6) NOT NULL,
	[notes] [nchar](10) NULL,
	[testId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tests]    Script Date: 4/22/2026 3:23:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tests](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[type] [varchar](100) NOT NULL,
	[date] [datetime] NOT NULL,
	[maxForce_N] [decimal](10, 2) NULL,
	[maxStrain] [decimal](10, 6) NULL,
	[YoungModulusEst_GPa] [decimal](12, 2) NULL,
	[notes] [varchar](100) NULL,
	[materialId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[materials] ON 

INSERT [dbo].[materials] ([id], [name], [type], [density_kg_m3], [YoungModulus_GPa], [notes]) VALUES (1, N'Steel S235', N'Metal', CAST(7850.000 AS Decimal(8, 3)), CAST(210.00 AS Decimal(12, 2)), NULL)
INSERT [dbo].[materials] ([id], [name], [type], [density_kg_m3], [YoungModulus_GPa], [notes]) VALUES (2, N'Aluminum 6061', N'Metal', CAST(2700.000 AS Decimal(8, 3)), CAST(69.00 AS Decimal(12, 2)), NULL)
INSERT [dbo].[materials] ([id], [name], [type], [density_kg_m3], [YoungModulus_GPa], [notes]) VALUES (3, N'Copper C110', N'Metal', CAST(8960.000 AS Decimal(8, 3)), CAST(110.00 AS Decimal(12, 2)), NULL)
SET IDENTITY_INSERT [dbo].[materials] OFF
GO
SET IDENTITY_INSERT [dbo].[testResults] ON 

INSERT [dbo].[testResults] ([id], [time_s], [force_N], [strain], [notes], [testId]) VALUES (0, 0, CAST(0.00 AS Decimal(10, 2)), CAST(0.000000 AS Decimal(10, 6)), NULL, 1)
INSERT [dbo].[testResults] ([id], [time_s], [force_N], [strain], [notes], [testId]) VALUES (1, 1, CAST(50.00 AS Decimal(10, 2)), CAST(0.000500 AS Decimal(10, 6)), NULL, 1)
INSERT [dbo].[testResults] ([id], [time_s], [force_N], [strain], [notes], [testId]) VALUES (2, 2, CAST(100.00 AS Decimal(10, 2)), CAST(0.001000 AS Decimal(10, 6)), NULL, 1)
GO
SET IDENTITY_INSERT [dbo].[testResults] OFF
GO
SET IDENTITY_INSERT [dbo].[tests] ON 

INSERT [dbo].[tests] ([id], [type], [date], [maxForce_N], [maxStrain], [YoungModulusEst_GPa], [notes], [materialId]) VALUES (1, N'Tensile Test', CAST(N'2026-04-21T17:04:21.550' AS DateTime), CAST(5000.00 AS Decimal(10, 2)), CAST(0.050000 AS Decimal(10, 6)), CAST(1.00 AS Decimal(12, 2)), NULL, 2)
INSERT [dbo].[tests] ([id], [type], [date], [maxForce_N], [maxStrain], [YoungModulusEst_GPa], [notes], [materialId]) VALUES (2, N'Tensile Test', CAST(N'2026-04-21T17:04:21.650' AS DateTime), CAST(5000.00 AS Decimal(10, 2)), CAST(0.050000 AS Decimal(10, 6)), CAST(1.00 AS Decimal(12, 2)), NULL, 3)
INSERT [dbo].[tests] ([id], [type], [date], [maxForce_N], [maxStrain], [YoungModulusEst_GPa], [notes], [materialId]) VALUES (4, N'Tensile Test', CAST(N'2026-04-21T17:04:21.813' AS DateTime), CAST(5000.00 AS Decimal(10, 2)), CAST(0.050000 AS Decimal(10, 6)), CAST(1.00 AS Decimal(12, 2)), NULL, 3)
SET IDENTITY_INSERT [dbo].[tests] OFF
GO
ALTER TABLE [dbo].[testResults]  WITH CHECK ADD  CONSTRAINT [FK_testResults_tests] FOREIGN KEY([testId])
REFERENCES [dbo].[tests] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[testResults] CHECK CONSTRAINT [FK_testResults_tests]
GO
ALTER TABLE [dbo].[tests]  WITH CHECK ADD  CONSTRAINT [FK_tests_materials] FOREIGN KEY([materialId])
REFERENCES [dbo].[materials] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tests] CHECK CONSTRAINT [FK_tests_materials]
GO
